<div ="row">
    <div class="jumbotron jumbotron-fluid">
        <h1> Exchange Rates for {{ coin.asset_id_base }} </h1>
        
        <h2> {{specificExchngRate}} 
            <md-progress-circular ng-disabled="coin" class="md-hue-2" md-diameter="50px">
            </md-progress-circular>
        </h2>
    </div>
    <div class="row">
        <md-button
            class="md-primary md-raised"
            ng-click=""
        >
        Find Specific Exchange
        </md-button>

        </md-button>
    </div>
        <md-button  
            ng-repeat="rate in coin.rates" 
            class="md-flat md-accent hue-1"
            ng-click="toggledFn(rate.asset_id_quote);"
        >
        {{rate.asset_id_quote}}
        </md-button>
</div>