<div class="row">
    <h1 class="col">Overview</h1>
    <md-switch class="col" ng-model="switchVal" ng-change="toggleCoinView(switchVal);"></md-switch>
    <h1 class="row">Exchange Rates</h1>
</div>
<md-progress-circular
    md-mode="indeterminate"
    ng-if="currencies == null"
    md-diameter="100px"
>
</md-progress-circular>
<div class="row align-middle" ng-if="currencies != null">
    <span>
        <md-input-container class="md-block">
            <label>Search By Currency</label>
            <input ng-model="coin.name">
        </md-input-container>
    </span>
</div>
<div ng-include="activeView" class="row align-middle">
</div>